1 0 * * Monday ./capture-screenshot.sh
1 0 * * Tuesday ./capture-screenshot.sh
1 0 * * Wednesday ./capture-screenshot.sh
1 0 * * Thursday ./capture-screenshot.sh
1 0 * * Friday ./capture-screenshot.sh